@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('./Inter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Tell Tailwind about your font */
@theme {
  --font-display: 'MyFont', sans-serif;
}